@{
	Layout = "_Layout";
	ViewData["Title"] = "Search";
}
@model MovieApiResponse
<div>@Model.Response</div>
@if (!string.IsNullOrWhiteSpace(@ViewBag.MovieTitle) && Model.Response.Equals("True"))
{
	<h1>Search results by title: @ViewBag.MovieTitle (Count : @Model.totalResults)</h1>

	<p>@ViewBag.TotalPage</p>
	<div class="container">
		<div class="row">
			
			@foreach (Movie item in Model.Search)
			{
				<div class="col">
					<partial name="_MovieCardPartial" model="@item"/>
				</div>
					
			}
			
		</div>
		<br />
		<hr />
		<nav aria-label="Page navigation example">
			<ul class="pagination">
				<li class="page-item"><a class="page-link" href="#">Previous</a></li>
				
				@for (int i = 0; i <= @ViewBag.TotalPage; i++)
				{
					<li class="page-item">
						<a class="page-link" 
						   asp-controller="Home"
						   asp-action="Search" 
						   asp-route-page="@(i + 1)"
						   asp-route-title="@ViewBag.MovieTitle">
							@(i + 1)
						</a>
					</li>
				}
				<li class="page-item"><a class="page-link" href="#">Next</a></li>
			</ul>
		</nav>
	</div>

}
else
{
	<h3>No results!</h3>
}